{% extends 'ComptageMakerComptageBundle::layout.html.twig' %}

{% block title %}ComptageMaker - Inscription{% endblock %}

{% block div %}

{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>Association</th>
                    <th>Voiture</th>
                    <th>Commentaires</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for inscrit in inscrits %}
                <tr>
                    <td>{{ inscrit.id }}</td>
                    <td>{{ inscrit.nom }}</td>
                    <td>{{ inscrit.prenom }}</td>
                    <td><a href="mailto:{{ inscrit.mail }}">{{ inscrit.mail }}</a></td>
                    <td>{{ inscrit.tel }}</td>
                    <td>{{ inscrit.association.name }}</td>
                    <td>{% if inscrit.voiture == true %}Oui{% else %}Non{% endif %}</td>
                    <td>{{ inscrit.commentaires }}</td>
                    <td><a href="{{ path('inscrit_remove', {'sessionId': sessionId, 'id' : inscrit.id}) }}" onclick="return(confirm('Etes-vous sur?'));"><i class="glyphicon glyphicon-remove-circle"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}