Bonjour Comptages,<br/>

{{ inscrit.prenom }} {{inscrit.nom }}, membre de l'association {{ inscrit.association.name }} s'est inscrit à la session {{ session.plage.nom }} du comptage du {{ include(
'ComptageMakerComptageBundle:Comptage:day.html.twig', { 'date': session.comptage.date })}}

<br/>
Nous lui avons rappelé que le briefing se fera le {{ include(
'ComptageMakerComptageBundle:Comptage:date.html.twig', { 'date' : session.comptage.briefing })}}
<br/>
En cas de problème, ou s'il souhaite obtenir de plus amples informations, il vous recontactera.
<br/>
<a href="http://comptagemaker.24heures.org{{ path('session_showListInscrits', {'id': session.id }) }}">Lien du comptage en question</a>
<br/>
Salutations,<br/>
Le site des comptages,<br/>
24 Heures de l'INSA