{% if count.etat == true or is_granted('ROLE_ADMIN') %}
<div class="panel {% if count.etat == true %} panel-success{% else %} panel-danger {% endif %}">
    <div class="panel-heading">
        <h3>Comptage du {{ include('ComptageMakerComptageBundle:Comptage:day.html.twig', { 'date': count.date })}}</h3>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('comptage_change_status',{ 'id': count.id }) }}">Changer le statut du comptage</a>
        <a href="{{ path('comptage_edit',{ 'id': count.id }) }}">Editer le comptage</a>
        {% endif %}
    </div>
    <div class="panel-body">
        <ul>
            <li>Briefing le {{ include(
                                    'ComptageMakerComptageBundle:Comptage:date.html.twig', { 'date' : count.briefing })}}
            </li>
        </ul>
    </div>
    <table>
        <tr>
            <th>
                Plage
            </th>
            <th>
                Début
            </th>
            <th>
                Fin
            </th>
            <th>
                Type
            </th>
            <th>
                Places
            </th>
            <th>
                Prix/heure
            </th>
        </tr>
        {% for session in count.sessions %}
            <tr>
                <td>
                    {{ session.plage.nom }}
                </td>
                <td>
                    {{ include('ComptageMakerComptageBundle:Comptage:daytime.html.twig', { 'date':session.plage.debut })}}
                </td>
                <td>
                    {{ include('ComptageMakerComptageBundle:Comptage:daytime.html.twig', { 'date':session.plage.fin })}}
                </td>
                <td>
                    {{ session.type }}
                </td>
                <td>
                    {{ session.entries }}
                </td>
                <td>
                    {{ session.prix }}€
                </td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endif %}